@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0f1214;
}

p {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
}
.insta-logo {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.insta-logo:hover {
  background-color: #504f4f98;
  border-radius: 8px;
}
.logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.left-sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;
  width: 70px; /* ჩაკეცილი */
  transition: width 0.3s;
  overflow: hidden;
}

nav {
  margin-top: 150px;
}

nav a {
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 15px 10px;
  gap: 15px;
  border-radius: 10px;
}

nav a i {
  font-size: 22px;
}

nav a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.footernav {
  margin-top: 120px;
}

/* როცა მაუსი მივა sidebar-ზე */
.left-sidebar:hover {
  width: 220px; /* გაშლილი */
}

/* ტექსტი ნაგულისხმევად დამალული */
.left-sidebar nav a span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  white-space: nowrap;
}

/* hover-ზე ტექსტი გამოჩნდეს */
.left-sidebar:hover nav a span {
  opacity: 1;
  visibility: visible;
}

/* აიქონი ყოველთვის ჩანდეს */
.left-sidebar nav a i,
.left-sidebar nav a img {
  font-size: 20px;
  min-width: 24px;
}
.left-sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* hover-ზე ნაცრისფერი ფონი */
.left-sidebar nav a:hover {
  background-color: #504f4f98;
}

/*main feed area*/
.main-feed {
  height: 100vh;
  display: flex;
  margin-left: 25%;
  margin-right: 10%;
  padding: 30px 0;
  gap: 80px;
}

.main-feed .feeds {
  min-width: 0;

  flex: 2;
}

.main-feed .feeds .status-section {
  display: flex;
  gap: 20px; /* მანძილი სტატუსებს შორის */
  padding-bottom: 15px; /* ცოტა სივრცე პოსტის ზედა ნაწილსა და სტატუსს შორის */
  overflow-x: auto;
  overflow-y: hidden;
  width: 470px;
}

.main-feed .feeds .status-section::-webkit-scrollbar {
  height: 0;
}

.main-feed .feeds .status-section .status {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  display: grid;
  place-items: center;

  /* Instagram story gradient border */
  border: 4px solid transparent;
  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5)
      border-box;
}

/* #new-status {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ffdc80 0deg,
    #f77737 90deg,
    #d62976 180deg,
    #f77737 270deg,
    #fa7861 360deg
  );
} */

.main-feed .feeds .status-section .status img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.main-feed .feeds .status-section p {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;

  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prof-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.main-feed .right-sidebar {
  flex: 1;
}

.main-feed .right-sidebar .sidebar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.main-feed .right-sidebar .sidebar-item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.main-feed .right-sidebar .sidebar-item .account-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-feed .right-sidebar .sidebar-item .account-info a:first-child {
  font-size: 14px;
  font-weight: 500;
}

.main-feed .right-sidebar .sidebar-item .account-info p {
  font-size: 13px;
  font-weight: 300;
  color: rgb(173, 173, 173);
}

.main-feed .right-sidebar .sidebar-item a:last-child {
  font-size: 13px;
  font-weight: 500;
  color: #2271b3;
  cursor: pointer;
}

.main-feed .right-sidebar .sidebar-item :last-child:hover {
  color: white;
}

.main-feed .right-sidebar h2 {
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-bottom: 15px;
}

.main-feed .feeds .posts {
  width: 80%;
  margin-top: 130px;
  padding-bottom: 80px;
}

.main-feed .feeds .posts .post .post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.post {
  width: 470px;
}
.fa-ellipsis-h {
  cursor: pointer;
}
.fa-ellipsis-h:hover {
  color: gray;
  transform: scale(1.2);
}
.main-feed .feeds .posts .post .post-header .user-details {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.main-feed .feeds .posts .post .post-header .image-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  display: grid;
  place-items: center;
}

.main-feed .feeds .posts .post .post-header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--bg-main);
}

.main-feed .feeds .posts .post .post-header .user-details p:first-child {
  font-weight: 500;
  font-size: 14px;
}

.main-feed .feeds .posts .post .post-header .user-details p:first-child span {
  font-size: 14px;
  color: white;
  font-weight: 300;
}

.main-feed .feeds .posts .post .post-header .user-details p:last-child {
  font-size: 13px;
  font-weight: 300;
}

.main-feed .posts .post img {
  width: 100%;
  height: auto;
  /* width: 470px; */
  height: auto;

  border-radius: 5px;
  border: 1px solid rgba(56, 56, 56, 0.521);
}

.main-feed .posts .post .post-footer {
  font-size: 14px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.main-feed .posts .post .post-footer .post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.main-feed .posts .post .post-footer .post-actions .left-actions {
  display: flex;
  gap: 15px;
}

.main-feed .posts .post .post-footer .post-actions i {
  font-size: 16px;
  cursor: pointer;
}

.main-feed .posts .post .post-footer .likes {
  font-weight: 600;
  margin-bottom: 5px;
}

.main-feed .posts .post .post-footer .post-text {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 5px;
}

.main-feed .posts .post .post-footer .comments {
  font-size: 14px;
  color: rgb(172, 172, 172);
  margin-bottom: 10px;
}

.main-feed .posts .post .post-footer .comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.main-feed .posts .post .post-footer .comment-container input {
  width: 100%;
  /* background-color: white; */
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  color: rgb(100, 100, 100);
  background-color: rgb(53, 53, 53);
}

.main-feed .posts .post .post-footer .comment-container .comment-button {
  flex-shrink: 0;
}

.main-feed .posts .post .post-footer .comment-container .comment-button button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-right: 5px;
}

.main-feed .posts .post .post-footer .comment-container .comment-button i {
  color: white;
}
.image-container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: gray;
  display: grid;
  place-items: center;
  object-fit: cover;
}
.more-text {
  color: #2271b3;
  cursor: pointer;
}

.comment-container {
  display: none;
}

.like-btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: color 0.2s ease;
}

.like-btn.liked {
  color: red;
  /* background-color: red; */
}

.comment-container {
  display: none;
}
.comment-container input {
  color: black; /* typed text */
  background-color: #fff; /* optional, თუ გინდა background თეთრი */
  border: 1px solid #ccc; /* optional, რომ ვსადაც გამოსხვაო */
  padding: 5px 10px; /* ზუსტად ისე, როგორც შენ გინდა */
  border-radius: 5px;
}
.status-wrapper {
  position: relative;
  width: 470px;
  display: flex;
  align-items: center;
}

.status-section {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth; /* გლუვი სკროლი */
  flex: 1;
}

.status {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border-radius: 10px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: rgb(241, 241, 241);
  color: rgb(7, 7, 7);
  cursor: pointer;
  display: none; /* თავიდან არ ჩანს */
  z-index: 1;
}

.scroll-btn.left {
  left: 0;
}

.scroll-btn.right {
  right: 0;
}
