@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #0f1214;
}

p {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

i {
  color: white;
}
.left-sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100vh;
  border-right: 1px solid var(--border-color);
  padding: 20px;
}

nav {
  margin-top: 150px;
}

nav a {
  display: flex;
  align-items: center;
  margin: 12px 0;
  padding: 15px 10px;
  gap: 15px;
  border-radius: 10px;
}

nav a i {
  font-size: 22px;
}

nav a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}
.footernav {
  margin-top: 100px;
}

/* sidebar */
.left-sidebar {
  width: 70px; /* ჩაკეცილი */
  transition: width 0.3s;
  overflow: hidden;
}

/* როცა მაუსი მივა sidebar-ზე */
.left-sidebar:hover {
  width: 220px; /* გაშლილი */
}

/* ტექსტი ნაგულისხმევად დამალული */
.left-sidebar nav a span {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
  white-space: nowrap;
}

/* hover-ზე ტექსტი გამოჩნდეს */
.left-sidebar:hover nav a span {
  opacity: 1;
  visibility: visible;
}

/* აიქონი ყოველთვის ჩანდეს */
.left-sidebar nav a i,
.left-sidebar nav a img {
  font-size: 20px;
  min-width: 24px;
}
.left-sidebar nav a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.2s;
}

/* hover-ზე ნაცრისფერი ფონი */
.left-sidebar nav a:hover {
  background-color: #504f4f98;
}
